<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>My Todos App</title>
<link rel="stylesheet"
	href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
	<div class="container  mt-5">
		<div class="row">
			<div class="col-md-8 rounded shadow p-5 m-5"
				style="background: #eee;">
				<h2 class="text-center mb-5">
					* Welcome to Your <span class="text-decoration-line-through">ToDo</span>
					Application *
				</h2>
				<div th:each="t: ${todos}" class="card">
					<div class="card-body">
						<input type="checkbox" class="d-inline" name="isDone" id="checkDone"
							th:checked="${t.isDone}" th:value="${t.isDone}"
							th:onclick="@{/todos/state/{t.id}}" />

						<!--  <input type="checkbox" name="isDone" th:checked="${t.isDone}"
							th:onchange="@{/todos/state/{t.id}}" />-->


						<!--  <h5 th:text="${t.title}"
							th:style="${t.isDone} ? 'text-decoration:line-through' : 'text-decoration:none'"
							class="d-inline">-->
						<a href="todo.html" th:href="@{/todos/{id}(id=${t.id})}"
							style="text-decoration: none; color: darkturquoise; font-size: 20px;">
							<span th:text="${t.title}" class="ms-1"
							th:style="${t.isDone} ? 'text-decoration:line-through' : 'text-decoration: none'">${t.title}
						</span>
						</a>

						<!-- name="t.isDone" th:checked="${t.isDone}" <input type="checkbox" name="t.isDone" th:checked="${t.isDone}"
							class="d-inline" />-->

						<button type="button" class="btn btn-danger float-end"
							th:onclick="|window.location.href='/todos/delete/${t.id}'|">Delete</button>

					</div>
				</div>

				<button type="submit" class="btn btn-success mt-3"
					th:onclick="|window.location.href='/add'|">Ajouter un ToDo</button>



			</div>

		</div>
	</div>
</body>


</html>
